#button{
  background-color: blue;
  color: white;
  text-align: center;
  font-size: medium;
  padding: auto;

}
.form{
  margin-left: 65%;

}


body{background-image: url(Images/woman.jpg);
  background-size: 100%;
}
